.App {
  text-align: center;
}

.rowAmount {
  text-align: right;
  margin: 20px 50px 20px 0;
}

.rowAmount label {
  margin-right: 10px;
}

table {
  width: 100%;
}

.ant-table-body {
  width: 100%;
}

.ant-table-cell {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

.ant-pagination-options {
  display: none;
}
